<ion-header>
    <ion-toolbar style="--border-width: 0 !important;">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/disc" [text]="retourText" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;color: red;margin-bottom: 50px;">Dominance</h1>
            </ion-text>

        </ion-row>
    </ion-grid>
    <div style="background:#FBF5F5; padding-top: 5px; padding-bottom: 10px;border-radius: 15px 15px 0 0;">
        <div style="background-color: red; height: 50px; width: 50px; border-radius: 50%;margin-left: auto;margin-right: auto;margin-top: -30px;"></div>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Point d'appui</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Déterminé</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Pionnier</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Compétiteur</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Limites</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Impatient</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Ecoute peu</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Insemsible aux autres</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Besoins</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Dominer</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Moteurs</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Défis personnels</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Peur</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Qu'on profite de sa dynamique</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Irrité par</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>L'indécision</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>L'inneficacité</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Sous stress</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="danger">
                    <ion-label>Dictatorial</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Provocant</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-label>Passe en urgence</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>