<ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="true">
            <ion-icon name="person-outline" color="dark"></ion-icon>
        </ion-menu-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row style="padding-bottom: 1em;">
            <ion-col class="center">
                <img src="../../assets/img/quiz-v2.png" alt="disc" style="border-radius: 10px;">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-inline: 16px; padding-bottom: .5em;text-align: center">
                <span style="font-size: 20px;"><strong>Selectionnez</strong></span><br>
                <span style="font-size: 15px;">votre quiz</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngFor="let quiz of quizList" button (click)="gotoquiz(quiz.title)">
            <ion-col>
                <ion-card class="small-margin {{quiz.cssbg}}">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding">
                                    <ion-card-title class="font-white">{{quiz.title}}</ion-card-title>
                                    <ion-card-subtitle class="font-white"> Testez la partie {{quiz.title}}</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content font-white">
                                    Vérifiez vos connaissances en validant le quiz.
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>