<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="../../assets/img/disc-quiz.png" alt="disc">
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let quiz of quizList" button (click)="gotoquiz(quiz.title)">
            <ion-col>
                <ion-card class="small-margin">
                    <div>
                        <ion-row>
                            <ion-col size="9">
                                <ion-card-header class="small-padding">
                                    <ion-card-subtitle>{{quiz.title}}</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content">
                                    Quiz : {{quiz.title}}
                                </ion-card-content>
                            </ion-col>
                            <ion-col size="3">
                                <div>
                                    <ion-icon name="{{quiz.icon}}" slot="end" style="font-size: 50px;padding-left: 15px;padding-top: 5px;"></ion-icon>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>