<ion-toolbar style="--border-width: 0 !important;">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/disc" [text]="retourText" color="dark"></ion-back-button>
    </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;color: green;margin-bottom: 50px;">Stabilité</h1>
            </ion-text>
        </ion-row>
    </ion-grid>
    <!-- #F4FBF4 -->
    <div style="background: linear-gradient(180deg, #EAEAEA, green); padding-top: 15px; padding-bottom: 10px;border-radius: 15px 15px 0 0;">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Point d'appui</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityPA()">
                            <ion-icon *ngIf="visibilityPA === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityPA === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityPA === false, 'show': visibilityPA === true }">
                <ion-chip color="success">
                    <ion-label>Fiable</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Aimable</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Constant</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Loyal</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Limites</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityL()">
                            <ion-icon *ngIf="visibilityL === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityL === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityL === false, 'show': visibilityL === true }">
                <ion-chip color="success">
                    <ion-label>N’aime pas le changement</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Sensibilité exacerbée</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Manque de perspective globale</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Besoins</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityB()">
                            <ion-icon *ngIf="visibilityB === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityB === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityB === false, 'show': visibilityB === true }">
                <ion-chip color="success">
                    <ion-label>Régularité</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Moteurs</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityM()">
                            <ion-icon *ngIf="visibilityM === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityM === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityM === false, 'show': visibilityM === true }">
                <ion-chip color="success">
                    <ion-label>Servir</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Être utile</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Peur</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityP()">
                            <ion-icon *ngIf="visibilityP === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityP === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityP === false, 'show': visibilityP === true }">
                <ion-chip color="success">
                    <ion-label>Le changement</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Irrité par</div>
                        <div style="font-size: 20px" (click)="toggleVisibilityIP()">
                            <ion-icon *ngIf="visibilityIP === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilityIP === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilityIP === false, 'show': visibilityIP === true }">
                <ion-chip color="success">
                    <ion-label>L’impatience</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>le conflit</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>
                    <div class="disposition-header">
                        <div>Sous stress</div>
                        <div style="font-size: 20px" (click)="toggleVisibilitySS()">
                            <ion-icon *ngIf="visibilitySS === true" name="eye-outline"></ion-icon>
                            <ion-icon *ngIf="visibilitySS === false" name="eye-off-outline"></ion-icon>
                        </div>
                    </div>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content [ngClass]="{'hide': visibilitySS === false, 'show': visibilitySS === true }">
                <ion-chip color="success">
                    <ion-label>Sévère</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Sédentaire</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Se soumet</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Évite les responsabilités</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>