<ion-header>
    <ion-toolbar style="--border-width: 0 !important;">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/disc" [text]="retourText" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;color: green;margin-bottom: 50px;">Stabilité</h1>
            </ion-text>
        </ion-row>
    </ion-grid>
    <div style="background:#F4FBF4; padding-top: 5px; padding-bottom: 10px;border-radius: 15px 15px 0 0;">
        <div style="background-color: green; height: 50px; width: 50px; border-radius: 50%;margin-left: auto;margin-right: auto;margin-top: -30px;"></div>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Point d'appui</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>Fiable</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Aimable</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Constant</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Loyal</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Limites</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>N’aime pas le changement</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Sensibilité exacerbée</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Manque de perspective globale</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Besoins</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>Régularité</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Moteurs</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>Servir</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Être utile</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Peur</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>Le changement</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Irrité par</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>L’impatience</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>le conflit</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Sous stress</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="success">
                    <ion-label>Sévère</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Sédentaire</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Se soumet</ion-label>
                </ion-chip>
                <ion-chip color="success">
                    <ion-label>Évite les responsabilités</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>