<ion-header>
    <ion-toolbar style="--border-width: 0 !important;">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/disc" [text]="retourText" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;color: blue;margin-bottom: 50px;">Conformité</h1>
            </ion-text>
        </ion-row>
    </ion-grid>
    <div style="background:#F3F6FC; padding-top: 5px; padding-bottom: 10px;border-radius: 15px 15px 0 0;">
        <div style="background-color: blue; height: 50px; width: 50px; border-radius: 50%;margin-left: auto;margin-right: auto;margin-top: -30px;"></div>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Point d'appui</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Analytique</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>précis</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>réservé</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>réfléchi</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Limites</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Critique</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>indifférent</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>perfectionniste</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Besoins</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>D’avoir des standards</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Moteurs</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Servir</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>Être utile</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Peur</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Qu’on critique son travail</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Irrité par</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Les intrusions</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>le manque d’organisation</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Sous stress</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-chip color="primary">
                    <ion-label>Critique</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>insensible</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>fuyant</ion-label>
                </ion-chip>
                <ion-chip color="primary">
                    <ion-label>paralysie décisionnelle</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>