<ion-toolbar style="--border-width: 0 !important;">
    <ion-buttons slot="start">
        <ion-button (click)="presentAlertConfirm()" color="dark">
            <ion-icon name="chevron-back-outline"></ion-icon>Retour</ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;margin-bottom: 50px;">{{discTemporaire.titre}}</h1>
            </ion-text>
        </ion-row>
    </ion-grid>
    <ion-slides pager="false" [options]="slideOpts">
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Quels sont les points d'appuis ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.pointAppui">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantPA()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Quels sont les limites ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.limites">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantL()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Quels sont les besoins ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.besoins">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantB()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Quels sont les moteurs ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.moteurs">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantM()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Quelle est la peur ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.peur">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantP()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Par quoi est-il irrité ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.irritePar">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantI()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        Comment est-il sous stress ?
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-list>
                            <ion-item *ngFor="let entry of discRaw.sousStress">
                                <ion-label>{{entry.valeur}}</ion-label>
                                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="suivantS()">Suivant</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-text color="secondary">
                            <h1>Ton score</h1>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-text color="success">
                            <h2>{{scoreTotal}} / 7</h2>
                        </ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-align-self-center">
                        <ion-button color="medium" (click)="recommencer()">Recommencer</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-slide>
    </ion-slides>
</ion-content>