<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Infos Utilisateur
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header color="dark">
                        <ion-card-title>Progression Totale</ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="background-color: #222428;color: white;">
                        Tu as fait un total de {{progressionTotale}} quiz.
                        <br/> {{remarqueNombreVictoireDefaite}}
                        <br/> {{remarqueRepartition}}
                        <br/> {{remarqueDominance}}
                        <br/> {{remarqueInfluence}}
                        <br/> {{remarqueStabilite}}
                        <br/> {{remarqueConformite}}
                    </ion-card-content>
                    <ion-item color="dark">
                        <ion-button color="light" fill="outline" slot="end">View</ion-button>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header color="darkgreen">
                        <ion-card-subtitle>Nombre de réussite</ion-card-subtitle>
                        <ion-card-title>{{quizReussite}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header color="darkred">
                        <ion-card-subtitle>Nombre d'échecs</ion-card-subtitle>
                        <ion-card-title>{{quizEchec}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Répartition</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #pieChart></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header color="rouge">
                        <ion-card-subtitle>Dominance</ion-card-subtitle>
                        <ion-card-title>{{numberDominanceQuiz}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header color="jaune">
                        <ion-card-subtitle>Influence</ion-card-subtitle>
                        <ion-card-title>{{numberInfluenceQuiz}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header color="vert">
                        <ion-card-subtitle>Stabilité</ion-card-subtitle>
                        <ion-card-title>{{numberStabiliteQuiz}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header color="bleu">
                        <ion-card-subtitle>Conformité</ion-card-subtitle>
                        <ion-card-title>{{numberConformiteQuiz}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Progression Dominance</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #barChartDominance></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Progression Influence</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #barChartInfluence></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Progression Stabilité</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #barChartStabilite></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Progression Conformité</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <canvas #barChartConformite></canvas>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>