<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row style="padding-bottom: 2em;">
            <ion-col class="center">
                <img src="../../assets/img/welcome-v2-thin.png" alt="disc" style="border-radius: 25px;">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="margin-inline: 16px; padding-bottom: .5em;text-align: center">
                <span style="font-size: 20px;"><strong>Commencez</strong></span><br>
                <span style="font-size: 15px;">par apprendre les couleurs</span>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card class="small-margin no-box-shadow disc-bg" (click)="gotoDiscSchemaPage()">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding">
                                    <ion-card-subtitle>DISC</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content">
                                    Voir le schéma du DISC
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="small-margin no-box-shadow dominance-bg" (click)="gotoDominancePage()">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding font-white">
                                    <ion-card-subtitle class="font-white">Dominance</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content font-white">
                                    Comprendre la dominance.
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="small-margin no-box-shadow influence-bg" (click)="gotoInfluencePage()">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding">
                                    <ion-card-subtitle class="font-white">Influence</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content font-white">
                                    Comprendre l'influence.
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="small-margin no-box-shadow stabilite-bg" (click)="gotoStabilitePage()">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding">
                                    <ion-card-subtitle class="font-white">Stabilité</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content font-white">
                                    Comprendre la stabilité.
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card class="small-margin no-box-shadow conformite-bg" (click)="gotoConformitePage()">
                    <div>
                        <ion-row>
                            <ion-col>
                                <ion-card-header class="small-padding font-white">
                                    <ion-card-subtitle class="font-white">Conformité</ion-card-subtitle>
                                </ion-card-header>
                                <ion-card-content class="small-padding font-content font-white">
                                    Comprendre la conformité.
                                </ion-card-content>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>