.font-white {
    color: #FFF;
}

.font-content {
    font-size: 12px;
}

.disc-square {
    margin-top: 3px;
    border-radius: 7px;
    margin-left: 15px;
}

.no-box-shadow {
    box-shadow: none !important;
}

.border {
    border: solid 1px #dbdbdb;
}