<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            DISC
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">DISC</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
            <img src="../../assets/img/disc-presentation.png" alt="disc-presentation" width="200px">
        </ion-slide>
        <ion-slide>
            <div class="scene" (click)="flipCardDominance()">
                <div class="card dominance" [ngClass]="{ 'is-flipped': flipcardD }">
                    <div class="card-face front">
                        <ion-card>
                            <ion-card-header style="background-color: red;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Dominance</ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="height: 350px;">
                                <ion-icon name="help-outline" style="width: 60%;height: 60%;margin: 50px auto;" title=""></ion-icon>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div class="card-face back">
                        <ion-card>
                            <ion-card-header style="background-color: red;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Dominance</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item lines="none">
                                    <ion-label>Point d'appui</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Déterminé</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Pionnier</ion-label>
                                    </ion-chip>
                                    <ion-chip color="danger">
                                        <ion-label>Compétiteur</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Limites</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Impatient</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Écoute peu</ion-label>
                                    </ion-chip>
                                    <ion-chip color="danger">
                                        <ion-label>Insensible aux autres.</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Besoins</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Dominer.</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Moteurs</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Défis personnels.</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Peur</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Qu’on profite de sa dynamique.</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Irrité par</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>L’indécision.</ion-label>
                                    </ion-chip>
                                    <ion-chip color="danger">
                                        <ion-label>L’inefficacité.</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Sous stress</ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Dictatorial</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label></ion-label>
                                    <ion-chip color="danger">
                                        <ion-label>Provocant</ion-label>
                                    </ion-chip>
                                    <ion-chip color="danger">
                                        <ion-label>Passe en Urgence</ion-label>
                                    </ion-chip>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="scene" (click)="flipCardInfluence()">
                <div class="card influence" [ngClass]="{ 'is-flipped': flipcardI }">
                    <div class="card-face front">
                        <ion-card>
                            <ion-card-header style="background-color: #FFD800;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Influence</ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="height: 350px;">
                                <ion-icon name="help-outline" style="width: 60%;height: 60%;margin: 50px auto;"></ion-icon>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div class="card-face back">
                        <ion-card>
                            <ion-card-header style="background-color: #FFD800;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Influence</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item lines="none">
                                    <ion-label>Point d'appui</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Expressif</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>divertissant</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>optimiste</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Limites</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Durée d’attention limitée</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>désorganisé</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>peu persévérant</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>inattentif aux détails</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Besoins</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Interagir</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Moteurs</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Être reconnu par les autres</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Peur</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Être rejeté par les autres</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Irrité par</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>La Routine</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>la complexité</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Sous stress</ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>Caustique</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>Décision Impulsive</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label></ion-label>
                                    <ion-chip color="warning">
                                        <ion-label>manque de discernement</ion-label>
                                    </ion-chip>
                                    <ion-chip color="warning">
                                        <ion-label>change de décision</ion-label>
                                    </ion-chip>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="scene" (click)="flipCardStabilite()">
                <div class="card stabilite" [ngClass]="{ 'is-flipped': flipcardS }">
                    <div class="card-face front">
                        <ion-card>
                            <ion-card-header style="background-color: green;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Stabilité</ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="height: 350px;">
                                <ion-icon name="help-outline" style="width: 60%;height: 60%;margin: 50px auto;"></ion-icon>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div class="card-face back">
                        <ion-card>
                            <ion-card-header style="background-color: green;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Stabilité</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item lines="none">
                                    <ion-label>Point d'appui</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>Fiable</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>aimable</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="success">
                                        <ion-label>constant</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>loyal</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Limites</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>N’aime pas le changement</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="success">
                                        <ion-label>sensibilité exacerbée</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>manque de perspective globale</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Besoins</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>Régularité</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Moteurs</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>Servir</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>être utile</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Peur</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>Le changement</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Irrité par</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>L’impatience</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>le conflit</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Sous stress</ion-label>
                                    <ion-chip color="success">
                                        <ion-label>Sévère</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>sédentaire</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label></ion-label>
                                    <ion-chip color="success">
                                        <ion-label>se soumet</ion-label>
                                    </ion-chip>
                                    <ion-chip color="success">
                                        <ion-label>évite les responsabilités</ion-label>
                                    </ion-chip>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="scene" (click)="flipCardConformite()">
                <div class="card conformite" [ngClass]="{ 'is-flipped': flipcardC }">
                    <div class="card-face front">
                        <ion-card>
                            <ion-card-header style="background-color: blue;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Conformité</ion-card-title>
                            </ion-card-header>
                            <ion-card-content style="height: 350px;">
                                <ion-icon name="help-outline" style="width: 60%;height: 60%;margin: 50px auto;"></ion-icon>
                            </ion-card-content>
                        </ion-card>
                    </div>
                    <div class="card-face back">
                        <ion-card>
                            <ion-card-header style="background-color: blue;">
                                <ion-card-subtitle class="font-white">DISC</ion-card-subtitle>
                                <ion-card-title class="font-white">Conformité</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item lines="none">
                                    <ion-label>Point d'appui</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>Analytique</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>précis</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label></ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>réservé</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>réfléchi</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Limites</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>Critique</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>indifférent</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>perfectionniste</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Besoins</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>D’avoir des standards</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Moteurs</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>La bonne façon d’agir</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Peur</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>Qu’on critique son travail</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Irrité par</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>Les intrusions</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>le manque d’organisation</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label>Sous stress</ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>Critique</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>insensible</ion-label>
                                    </ion-chip>
                                </ion-item>
                                <ion-item lines="none">
                                    <ion-label></ion-label>
                                    <ion-chip color="primary">
                                        <ion-label>fuyant</ion-label>
                                    </ion-chip>
                                    <ion-chip color="primary">
                                        <ion-label>paralysie décisionnelle</ion-label>
                                    </ion-chip>
                                </ion-item>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>