.font-white {
    color: #FFF;
}

.font-content {
    font-size: 12px;
}

.disc-square {
    margin-top: 3px;
    border-radius: 7px;
    margin-left: 15px;
}

.disc-gradient {
    margin-top: 3px;
    height: 50px;
    border-radius: 7px;
    background: #FF0000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFFF00, #006400, #0000FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFFF00, #006400, #0000FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dominance-gradient {
    margin-top: 3px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 7px;
    background: #FF0000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0000, #ef473a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF0000, #ef473a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.influence-gradient {
    margin-top: 3px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 7px;
    background: #FFFF00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFF00, #ffe259);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFF00, #ffe259);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.stabilite-gradient {
    margin-top: 3px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 7px;
    background: #006400;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #006400, #1E9600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #006400, #1E9600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.conformite-gradient {
    margin-top: 3px;
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 7px;
    background: #0000FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0000FF, #4364F7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0000FF, #4364F7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}