/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: 'TTCommons';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/font/TTCommons.ttf');
}

:root {
    --ion-color-rouge: #c0392b;
    --ion-color-rouge-rgb: 192, 57, 43;
    --ion-color-rouge-contrast: #ffffff;
    --ion-color-rouge-contrast-rgb: 255, 255, 255;
    --ion-color-rouge-shade: #a93226;
    --ion-color-rouge-tint: #c64d40;
    --ion-color-vert: #27ae60;
    --ion-color-vert-rgb: 39, 174, 96;
    --ion-color-vert-contrast: #ffffff;
    --ion-color-vert-contrast-rgb: 255, 255, 255;
    --ion-color-vert-shade: #229954;
    --ion-color-vert-tint: #3db670;
    --ion-color-bleu: #2980b9;
    --ion-color-bleu-rgb: 41, 128, 185;
    --ion-color-bleu-contrast: #ffffff;
    --ion-color-bleu-contrast-rgb: 255, 255, 255;
    --ion-color-bleu-shade: #2471a3;
    --ion-color-bleu-tint: #3e8dc0;
    --ion-color-jaune: #f1c40f;
    --ion-color-jaune-rgb: 241, 196, 15;
    --ion-color-jaune-contrast: #ffffff;
    --ion-color-jaune-contrast-rgb: 0, 0, 0;
    --ion-color-jaune-shade: #d4ac0d;
    --ion-color-jaune-tint: #f2ca27;
    --ion-color-darkgreen: #006400;
    --ion-color-darkgreen-rgb: 0, 100, 0;
    --ion-color-darkgreen-contrast: #ffffff;
    --ion-color-darkgreen-contrast-rgb: 255, 255, 255;
    --ion-color-darkgreen-shade: #005800;
    --ion-color-darkgreen-tint: #1a741a;
    --ion-color-darkred: #8B0000;
    --ion-color-darkred-rgb: 139, 0, 0;
    --ion-color-darkred-contrast: #ffffff;
    --ion-color-darkred-contrast-rgb: 255, 255, 255;
    --ion-color-darkred-shade: #7a0000;
    --ion-color-darkred-tint: #971a1a;
    --ion-font-family: 'TTCommons';
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.ion-color-rouge {
    --ion-color-base: var(--ion-color-rouge);
    --ion-color-base-rgb: var(--ion-color-rouge-rgb);
    --ion-color-contrast: var(--ion-color-rouge-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rouge-contrast-rgb);
    --ion-color-shade: var(--ion-color-rouge-shade);
    --ion-color-tint: var(--ion-color-rouge-tint);
}

.ion-color-vert {
    --ion-color-base: var(--ion-color-vert);
    --ion-color-base-rgb: var(--ion-color-vert-rgb);
    --ion-color-contrast: var(--ion-color-vert-contrast);
    --ion-color-contrast-rgb: var(--ion-color-vert-contrast-rgb);
    --ion-color-shade: var(--ion-color-vert-shade);
    --ion-color-tint: var(--ion-color-vert-tint);
}

.ion-color-bleu {
    --ion-color-base: var(--ion-color-bleu);
    --ion-color-base-rgb: var(--ion-color-bleu-rgb);
    --ion-color-contrast: var(--ion-color-bleu-contrast);
    --ion-color-contrast-rgb: var(--ion-color-bleu-contrast-rgb);
    --ion-color-shade: var(--ion-color-bleu-shade);
    --ion-color-tint: var(--ion-color-bleu-tint);
}

.ion-color-jaune {
    --ion-color-base: var(--ion-color-jaune);
    --ion-color-base-rgb: var(--ion-color-jaune-rgb);
    --ion-color-contrast: var(--ion-color-jaune-contrast);
    --ion-color-contrast-rgb: var(--ion-color-jaune-contrast-rgb);
    --ion-color-shade: var(--ion-color-jaune-shade);
    --ion-color-tint: var(--ion-color-jaune-tint);
}

.ion-color-darkgreen {
    --ion-color-base: var(--ion-color-darkgreen);
    --ion-color-base-rgb: var(--ion-color-darkgreen-rgb);
    --ion-color-contrast: var(--ion-color-darkgreen-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkgreen-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkgreen-shade);
    --ion-color-tint: var(--ion-color-darkgreen-tint);
}

.ion-color-darkred {
    --ion-color-base: var(--ion-color-darkred);
    --ion-color-base-rgb: var(--ion-color-darkred-rgb);
    --ion-color-contrast: var(--ion-color-darkred-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkred-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkred-shade);
    --ion-color-tint: var(--ion-color-darkred-tint);
}


/*FLAT DESIGN COLOR UI */

.dominance-bg {
    background: #c0392b;
}

.influence-bg {
    background: #f1c40f;
}

.stabilite-bg {
    background: #27ae60;
}

.conformite-bg {
    background: #2980b9;
}

.disc-bg {
    border: 1px solid #666666;
}

.small-margin {
    margin: 0 !important;
}

.small-padding {
    padding-top: 5px !important;
    padding-bottom: 5px!important;
}

ion-card {
    border-radius: 10px;
}


/* HIDE / SHOW ANIMATION */

ion-card-content {
    opacity: 1;
}

ion-card-content.hide {
    animation: slidein 1s;
    opacity: 0;
}

ion-card-content.show {
    animation: slideout 1s;
    opacity: 1;
}

@keyframes slidein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideout {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}