<ion-header>
    <ion-toolbar style="--border-width: 0 !important;">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/disc" [text]="retourText" color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
            <ion-text style="width: 100%;">
                <h1 style="text-align: center;margin-bottom: 30px;">Le DISC</h1>
            </ion-text>
        </ion-row>
    </ion-grid>
    <img src="../../assets/img/disc-presentation.png" alt="disc-presentation" style="width: 100%;margin-left: auto;margin-right: auto;">
    <div style="background:#F0F0F0; padding-top: 5px; padding-bottom: 30px;border-radius: 15px 15px 0 0;">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Présentation du DISC</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-text>
                    <p>Le schéma représente le DISC avec les 4 parties :
                        <ion-text color="danger">La Dominance</ion-text>,
                        <ion-text color="warning">l'Influence</ion-text>,
                        <ion-text color="success">la Stabilité</ion-text>,
                        <ion-text color="primary">la Conformité</ion-text>. C'est outil d'évaluation psychologique déterminant le type psychologique d'une personne.
                    </p>
                </ion-text>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>